.navbar {
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.nav-item {
    margin-right: 1rem;
}

.paciente-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.paciente-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.paciente-edad {
    margin-right: 20px;
}

.container > * {
    margin-bottom: 20px;
}

.container > :last-child {
    margin-bottom: 0;
}

.ver-detalles-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ver-detalles-btn:hover {
    background-color: #0056b3;
    color: #f0f0f0;
    text-decoration: none;
}
