<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Paciente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            padding:   0;
            margin:   0;
        }
        .btn-volver {
            margin-top: 20px;
        }
        .paciente-info, .consulta-info {
            margin-top:   20px;
        }
        .historial, .datos-salud {
            margin-left: 60px;
            margin-top: 20px;
            margin-bottom:  50px;
        }
        .btn-nuevo-registro{
            margin-top: 30px;
        }
        .btn-nueva-consulta{
            margin-bottom: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <a class="btn btn-primary btn-volver" th:href="@{./gestion_pacientes}">Volver a la Gestión de Pacientes</a>
    <div class="row">
        <div class="col-md-3">
            <div class="paciente-info">
                <h2>Información del Paciente</h2>
                <p><strong>Nombre:</strong> <span th:text="${paciente.nombre_paciente} + ' ' + ${paciente.apellidos_paciente}"></span></p>
                <p><strong>Correo Electrónico:</strong> <span th:text="${paciente.correo_electronico}"></span></p>
                <p><strong>Telefono:</strong> <span th:text="${paciente.telefono}"></span></p>
                <p><strong>Género:</strong> <span th:text="${paciente.sexo}"></span></p>
                <p><strong>Direccion:</strong> <span th:text="${paciente.direccion}"></span></p>
                <p><strong>Fecha de Nacimiento:</strong> <span th:text="${#dates.format(paciente.fechaNacimiento, 'yyyy-MM-dd')}"></span></p>
            </div>
            <div class="consulta-info">
                <h2>Consultas del Paciente</h2>
                <div th:if="${not #lists.isEmpty(consultas)}">
                    <ul class="list-group">
                        <li class="list-group-item" th:each="consulta : ${consultas}">
                            <div class="d-flex flex-column">
                                <div>
                                    <strong>Fecha: </strong> <span th:text="${#dates.format(consulta.fecha_consulta, 'dd/MM/yyyy')}"></span>
                                </div>
                                <div>
                                    <strong>Tipo: </strong> <span th:text="${consulta.tipoConsulta}"></span>
                                </div>
                                <div>
                                    <strong>Estado: </strong><span th:text="${consulta.estadoConsulta}"></span>
                                </div>
                            </div>
                        </li>
                        <a class="btn btn-primary btn-nueva-consulta" th:href="@{/agregar_consulta(id=${paciente.id_paciente})}">
                            Añadir Nueva Consulta
                        </a>
                    </ul>
                </div>
                <div th:if="${#lists.isEmpty(consultas)}">
                    <p>No hay consultas registradas para este paciente.</p>
                    <a class="btn btn-primary btn-nueva-consulta" th:href="@{/agregar_consulta(id=${paciente.id_paciente})}">
                        Añadir Nueva Consulta
                    </a>
                </div>
            </div>
        </div>
        <!-- Informacion del historial y Datos de Salud -->
        <div class="col-md-9">
            <div class="historial">
                <h2>Historial del Paciente</h2>
                <div th:if="${historial != null}">
                    <div th:if="${historial.diagnosticos != null}">
                        <div class="card-columns">
                            <div class="card" th:each="diagnostico : ${historial.diagnosticos}">
                                <div class="card-body">
                                    <h5 class="card-title">Diagnóstico: <span th:text="${diagnostico.diagnostico}"></span></h5>
                                    <p class="card-text">Tratamiento: <span th:text="${diagnostico.tratamiento}"></span></p>
                                </div>
                            </div>
                        </div>
                        <a th:href="@{/agregar_registro_historial(id=${paciente.id_paciente})}" class="btn btn-primary btn-nuevo-registro">
                            Añadir Nuevo Registro al Historial
                        </a>
                    </div>
                    <div th:if="${historial.diagnosticos == null}">
                        <p>No hay datos de historial registrados para este paciente.</p>
                        <a th:href="@{/agregar_registro_historial(id=${paciente.id_paciente})}" class="btn btn-primary btn-nuevo-registro">
                            Añadir Nuevo Registro al Historial
                        </a>
                    </div>
                </div>
                <div th:if="${historial == null}">
                    <p>No hay datos de historial registrados para este paciente.</p>
                    <a th:href="@{/agregar_registro_historial(id=${paciente.id_paciente})}" class="btn btn-primary btn-nuevo-registro">
                        Añadir Nuevo Registro al Historial
                    </a>
                </div>
            </div>
            <div class="datos-salud">
                <h2>Datos Salud del Paciente</h2>
                <div th:if="${not #lists.isEmpty(datosSalud)}">
                    <ul class="list-group">
                        <li class="list-group-item" th:each="datoSalud : ${datosSalud}">
                            <span th:text="${datoSalud.fecha_dato} - ${datoSalud.tipo_dato} - ${datoSalud.valor_dato} ${datoSalud.unidad_medida}"></span>
                        </li>
                    </ul>
                </div>
                <div th:if="${#lists.isEmpty(datosSalud)}">
                    <p>No hay datos de salud registrados para este paciente.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
