<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del Médico No Registrados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="display-4">¡Atención!</h2>
            <p class="lead">Los datos del médico no están registrados.</p>
            <p>Por favor, complete el siguiente formulario para registrar la información necesaria.</p>
            <a href="./registro_medico" class="btn btn-primary btn-lg">Registrar Datos del Médico</a>
        </div>
    </div>
</div>
</body>
</html>
